<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137661141174-239vfjlneuf8u8nemqkph0jbrmkp04v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137661141174-239vfjlneuf8u8nemqkph0jbrmkp04v0</string>
	<key>API_KEY</key>
	<string>AIzaSyBhncjbmbHvnu9AJrfi3ci9-OvUd9bFHaE</string>
	<key>GCM_SENDER_ID</key>
	<string>137661141174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.myshout.app</string>
	<key>PROJECT_ID</key>
	<string>my-shout-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-shout-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137661141174:ios:00218b8f50d7ff60449617</string>
</dict>
</plist>